## Exploratory Data Analysis

### Import Packages

In [5]:
import pandas as pd

### Load the dataset

In [51]:
clarity_df = pd.read_csv("../data/clarity_underwriting_variables.csv")

/tmp/ipykernel_32894/2613428724.py:1: DtypeWarning: Columns (9,11,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,31,32,33,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  clarity_df = pd.read_csv("../data/clarity_underwriting_variables.csv")

In [52]:
clarity_df.head()

,.underwritingdataclarity.clearfraud.clearfraudinquiry.thirtydaysago,.underwritingdataclarity.clearfraud.clearfraudinquiry.twentyfourhoursago,.underwritingdataclarity.clearfraud.clearfraudinquiry.oneminuteago,.underwritingdataclarity.clearfraud.clearfraudinquiry.onehourago,.underwritingdataclarity.clearfraud.clearfraudinquiry.ninetydaysago,.underwritingdataclarity.clearfraud.clearfraudinquiry.sevendaysago,.underwritingdataclarity.clearfraud.clearfraudinquiry.tenminutesago,.underwritingdataclarity.clearfraud.clearfraudinquiry.fifteendaysago,.underwritingdataclarity.clearfraud.clearfraudinquiry.threesixtyfivedaysago,.underwritingdataclarity.clearfraud.clearfraudindicator.inquiryonfilecurrentaddressconflict,...,.underwritingdataclarity.clearfraud.clearfraudidentityverification.phonematchtypedescription,.underwritingdataclarity.clearfraud.clearfraudidentityverification.overallmatchresult,.underwritingdataclarity.clearfraud.clearfraudidentityverification.phonetype,.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssndobreasoncode,.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssnnamereasoncode,.underwritingdataclarity.clearfraud.clearfraudidentityverification.nameaddressreasoncode,.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssndobmatch,.underwritingdataclarity.clearfraud.clearfraudidentityverification.overallmatchreasoncode,clearfraudscore,underwritingid
0,8.0,2.0,2.0,2.0,8.0,2.0,2.0,5.0,10.0,False,...,(M) Mobile Phone,partial,NaN,NaN,NaN,A8,match,6.0,871.0,54cbffcee4b0ba763e43144d
1,5.0,2.0,2.0,2.0,11.0,2.0,2.0,4.0,21.0,True,...,(M) Mobile Phone,partial,NaN,NaN,NaN,NaN,match,11.0,397.0,54cc0408e4b0418d9a7f78af
2,9.0,4.0,2.0,3.0,10.0,8.0,2.0,9.0,25.0,False,...,(M) Mobile Phone,match,NaN,NaN,NaN,NaN,match,1.0,572.0,54cc0683e4b0418d9a80adb6
3,3.0,2.0,2.0,2.0,9.0,2.0,2.0,2.0,9.0,False,...,(M) Mobile Phone,partial,NaN,NaN,NaN,NaN,match,11.0,838.0,54cc0780e4b0ba763e43b74a
4,5.0,5.0,2.0,2.0,6.0,5.0,2.0,5.0,6.0,False,...,(M) Mobile Phone,match,NaN,NaN,NaN,NaN,match,1.0,768.0,54cc1d67e4b0ba763e445b45

In [53]:
clarity_df.columns.to_list()

['.underwritingdataclarity.clearfraud.clearfraudinquiry.thirtydaysago',
 '.underwritingdataclarity.clearfraud.clearfraudinquiry.twentyfourhoursago',
 '.underwritingdataclarity.clearfraud.clearfraudinquiry.oneminuteago',
 '.underwritingdataclarity.clearfraud.clearfraudinquiry.onehourago',
 '.underwritingdataclarity.clearfraud.clearfraudinquiry.ninetydaysago',
 '.underwritingdataclarity.clearfraud.clearfraudinquiry.sevendaysago',
 '.underwritingdataclarity.clearfraud.clearfraudinquiry.tenminutesago',
 '.underwritingdataclarity.clearfraud.clearfraudinquiry.fifteendaysago',
 '.underwritingdataclarity.clearfraud.clearfraudinquiry.threesixtyfivedaysago',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.inquiryonfilecurrentaddressconflict',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.totalnumberoffraudindicators',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.telephonenumberinconsistentwithaddress',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.inquiryageyoungerthanssnissuedate',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.onfileaddresscautious',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.inquiryaddressnonresidential',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.onfileaddresshighrisk',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.ssnreportedmorefrequentlyforanother',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.currentaddressreportedbytradeopenlt90days',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.inputssninvalid',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.inputssnissuedatecannotbeverified',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.inquiryaddresscautious',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.morethan3inquiriesinthelast30days',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.onfileaddressnonresidential',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.creditestablishedpriortossnissuedate',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.driverlicenseformatinvalid',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.inputssnrecordedasdeceased',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.inquiryaddresshighrisk',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.inquirycurrentaddressnotonfile',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.bestonfilessnissuedatecannotbeverified',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.highprobabilityssnbelongstoanother',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.maxnumberofssnswithanybankaccount',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.bestonfilessnrecordedasdeceased',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.currentaddressreportedbynewtradeonly',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.creditestablishedbeforeage18',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.telephonenumberinconsistentwithstate',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.driverlicenseinconsistentwithonfile',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.workphonepreviouslylistedascellphone',
 '.underwritingdataclarity.clearfraud.clearfraudindicator.workphonepreviouslylistedashomephone',
 '.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssnnamematch',
 '.underwritingdataclarity.clearfraud.clearfraudidentityverification.nameaddressmatch',
 '.underwritingdataclarity.clearfraud.clearfraudidentityverification.phonematchtype',
 '.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssnnamereasoncodedescription',
 '.underwritingdataclarity.clearfraud.clearfraudidentityverification.phonematchresult',
 '.underwritingdataclarity.clearfraud.clearfraudidentityverification.nameaddressreasoncodedescription',
 '.underwritingdataclarity.clearfraud.clearfraudidentityverification.phonematchtypedescription',
 '.underwritingdataclarity.clearfraud.clearfraudidentityverification.overallmatchresult',
 '.underwritingdataclarity.clearfraud.clearfraudidentityverification.phonetype',
 '.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssndobreasoncode',
 '.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssnnamereasoncode',
 '.underwritingdataclarity.clearfraud.clearfraudidentityverification.nameaddressreasoncode',
 '.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssndobmatch',
 '.underwritingdataclarity.clearfraud.clearfraudidentityverification.overallmatchreasoncode',
 'clearfraudscore',
 'underwritingid']

In [54]:
clarity_df.shape

(49752, 54)

In [11]:
df = pd.read_csv("../data/loan.csv")

In [12]:
df.shape

(577682, 19)

In [13]:
df.head()

,loanId,anon_ssn,payFrequency,apr,applicationDate,originated,originatedDate,nPaidOff,approved,isFunded,loanStatus,loanAmount,originallyScheduledPaymentAmount,state,leadType,leadCost,fpStatus,clarityFraudId,hasCF
0,LL-I-07399092,beff4989be82aab4a5b47679216942fd,B,360.0,2016-02-23T17:29:01.940000,False,NaN,0.0,False,0,Withdrawn Application,500.0,978.27,IL,bvMandatory,6,NaN,5669ef78e4b0c9d3936440e6,1
1,LL-I-06644937,464f5d9ae4fa09ece4048d949191865c,B,199.0,2016-01-19T22:07:36.778000,True,2016-01-20T15:49:18.846000,0.0,True,1,Paid Off Loan,3000.0,6395.19,CA,prescreen,0,Checked,569eb3a3e4b096699f685d64,1
2,LL-I-10707532,3c174ae9e2505a5f9ddbff9843281845,B,590.0,2016-08-01T13:51:14.709000,False,NaN,0.0,False,0,Withdrawn Application,400.0,1199.45,MO,bvMandatory,3,NaN,579eab11e4b0d0502870ef2f,1
3,LL-I-02272596,9be6f443bb97db7e95fa0c281d34da91,B,360.0,2015-08-06T23:58:08.880000,False,NaN,0.0,False,0,Withdrawn Application,500.0,1074.05,IL,bvMandatory,3,NaN,555b1e95e4b0f6f11b267c18,1
4,LL-I-09542882,63b5494f60b5c19c827c7b068443752c,B,590.0,2016-06-05T22:31:34.304000,False,NaN,0.0,False,0,Rejected,350.0,814.37,NV,bvMandatory,3,NaN,5754a91be4b0c6a2bf424772,1

In [14]:
payment_df = pd.read_csv("../data/payment.csv")

In [24]:
df.shape

(577682, 19)

In [26]:
df.head(20)
# .to_dict(orient="records")

,loanId,anon_ssn,payFrequency,apr,applicationDate,originated,originatedDate,nPaidOff,approved,isFunded,loanStatus,loanAmount,originallyScheduledPaymentAmount,state,leadType,leadCost,fpStatus,clarityFraudId,hasCF
0,LL-I-07399092,beff4989be82aab4a5b47679216942fd,B,360.00,2016-02-23T17:29:01.940000,False,NaN,0.0,False,0,Withdrawn Application,500.0,978.27,IL,bvMandatory,6,NaN,5669ef78e4b0c9d3936440e6,1
1,LL-I-06644937,464f5d9ae4fa09ece4048d949191865c,B,199.00,2016-01-19T22:07:36.778000,True,2016-01-20T15:49:18.846000,0.0,True,1,Paid Off Loan,3000.0,6395.19,CA,prescreen,0,Checked,569eb3a3e4b096699f685d64,1
2,LL-I-10707532,3c174ae9e2505a5f9ddbff9843281845,B,590.00,2016-08-01T13:51:14.709000,False,NaN,0.0,False,0,Withdrawn Application,400.0,1199.45,MO,bvMandatory,3,NaN,579eab11e4b0d0502870ef2f,1
3,LL-I-02272596,9be6f443bb97db7e95fa0c281d34da91,B,360.00,2015-08-06T23:58:08.880000,False,NaN,0.0,False,0,Withdrawn Application,500.0,1074.05,IL,bvMandatory,3,NaN,555b1e95e4b0f6f11b267c18,1
4,LL-I-09542882,63b5494f60b5c19c827c7b068443752c,B,590.00,2016-06-05T22:31:34.304000,False,NaN,0.0,False,0,Rejected,350.0,814.37,NV,bvMandatory,3,NaN,5754a91be4b0c6a2bf424772,1
5,LL-I-09734486,b5541f49472fa0fce8e473306768f7fb,M,650.00,2016-06-12T19:27:47.951000,False,NaN,0.0,False,0,Withdrawn Application,300.0,738.18,IN,organic,0,NaN,574e2029e4b061d2c3a16a4c,1
6,LL-I-15006968,1828c64bb2dffeae88b27174a9f79ecc,B,680.00,2017-01-12T18:04:37.921000,False,NaN,0.0,False,0,Withdrawn Application,400.0,1362.92,TX,lead,25,NaN,5877c533e4b08f2480ab7e5a,1
7,LL-I-08327946,02596517e7633c7e87e6b333a0fb1bbe,M,449.99,2016-04-01T22:13:02.131000,False,NaN,0.0,False,0,Withdrawn Application,350.0,759.84,UT,bvMandatory,3,NaN,NaN,0
8,LL-I-10568307,523ed92e1145eb688bb631da24695197,S,251.00,2016-07-27T00:19:52.808000,False,NaN,0.0,False,0,Withdrawn Application,2600.0,8230.01,CA,california,40,NaN,5797fe22e4b0d05020f298ce,1
9,LL-I-05518977,47bf79119075e41ef65510f2900c8e4a,B,360.00,2015-12-09T18:17:33.622000,False,NaN,0.0,False,0,Withdrawn Application,500.0,995.22,IL,bvMandatory,6,NaN,563281d2e4b07887adc5bc0a,1
10,LL-I-12004066,15340aa86b89972ac3c1572e2053e107,B,590.00,2016-09-14T17:49:10.712000,False,NaN,0.0,False,0,Withdrawn Application,500.0,1457.26,CA,bvMandatory,10,NaN,NaN,0
11,LL-I-16484048,d7fa2d3cdff861249f57644e1050334a,B,645.00,2017-01-30T22:40:47.965000,False,NaN,0.0,False,0,Withdrawn Application,700.0,2115.90,FL,organic,0,NaN,588fa80ae4b08f24a3dd6348,1
12,LL-I-06936557,2f90cd4d32d373e4c044a67fc4b9cb88,I,590.00,2016-02-01T01:56:09.600000,False,NaN,0.0,False,0,Rejected,300.0,856.50,TN,bvMandatory,3,NaN,56aebd69e4b0138a4b2d8086,1
13,LL-I-08740673,50e168ad9d93f7ee73e5f041822bd8dd,B,590.00,2016-04-15T16:35:01.146000,False,NaN,0.0,False,0,Withdrawn Application,800.0,2594.33,MI,bvMandatory,10,NaN,57112235e4b0cd575d778568,1
14,LL-I-13956713,8f3bd2f82d48d6e3b221247be473d2e9,W,645.00,2016-12-27T12:09:22.807000,False,NaN,0.0,False,0,Rejected,600.0,2056.98,RI,bvMandatory,3,NaN,58625b73e4b08f246a81bad8,1
15,LL-I-12263369,accf40708233e8b7d05fcb89d5a9c081,B,475.00,2016-11-28T19:54:22.982000,True,2016-11-29T20:30:40.640000,2.0,True,1,New Loan,350.0,893.88,MO,organic,0,Checked,NaN,0
16,LL-I-06023224,98215487d435442bfcfe088eded6b6e8,B,490.00,2015-12-23T03:01:58.405000,False,NaN,0.0,False,0,Withdrawn Application,400.0,926.96,MO,bvMandatory,6,NaN,NaN,0
17,LL-I-08140785,e6ac1a05e7de69f856017bd1e44a0e8d,B,360.00,2016-03-26T16:12:09.587000,False,NaN,0.0,False,0,Withdrawn Application,500.0,1139.89,IL,bvMandatory,6,NaN,NaN,0
18,LL-I-08165134,afa9c1c713e0fb5b948e6a4ded186bf1,B,449.99,2016-03-28T07:22:40.539000,False,NaN,0.0,False,0,Withdrawn Application,500.0,1320.22,NV,bvMandatory,3,NaN,NaN,0
19,LL-I-12480971,26a324e10d76a083c4d1e285355f36be,W,590.00,2016-12-04T16:24:06.920000,False,NaN,0.0,False,0,Withdrawn Application,600.0,1916.80,IN,lead,25,NaN,58444323e4b0bb9d6cc6a67c,1

In [50]:
payment_df[["paymentStatus"]].value_counts(dropna=False)

paymentStatus
Cancelled                  270334
Checked                    209621
NaN                        164057
Rejected                    32330
Pending                      9241
Skipped                      3761
Rejected Awaiting Retry        18
Complete                        1
Returned                        1
Name: count, dtype: int64

In [45]:
payment_df.columns

Index(['loanId', 'installmentIndex', 'isCollection', 'paymentDate',
       'principal', 'fees', 'paymentAmount', 'paymentStatus',
       'paymentReturnCode'],
      dtype='object')

In [42]:
payment_df.shape

(689364, 9)

In [19]:
df.shape

(577682, 19)

In [18]:
df.dtypes

loanId                               object
anon_ssn                             object
payFrequency                         object
apr                                 float64
applicationDate                      object
originated                             bool
originatedDate                       object
nPaidOff                            float64
approved                               bool
isFunded                              int64
loanStatus                           object
loanAmount                          float64
originallyScheduledPaymentAmount    float64
state                                object
leadType                             object
leadCost                              int64
fpStatus                             object
clarityFraudId                       object
hasCF                                 int64
dtype: object

In [55]:
clarity_dict = pd.read_csv("../dictionaries/dictionaries/clarity_underwriting_dictionary.csv")

In [60]:
clarity_dict[["Column Name", "Description"]].to_dict(orient="records")

[{'Column Name': 'CF.fs.bof_ssn_date_unverified',
  'Description': 'Fraud Indicator: Best on file SSN issued date cannot be verified, true or false'},
 {'Column Name': 'CF.fs.bof_ssn_deceased',
  'Description': 'Fraud Indicator: Best on file SSN recorded as deceased, true or false'},
 {'Column Name': 'CF.fs.credit_prior_age_18',
  'Description': 'Fraud Indicator: Credit established before age 18, true or false'},
 {'Column Name': 'CF.fs.credit_prior_ssn_date',
  'Description': 'Fraud Indicator: Credit established prior to SSN issue date, true or false'},
 {'Column Name': 'CF.fs.cur_addr_rep_newtrade_only',
  'Description': 'Fraud Indicator: Current address reported by new trade only, true or false'},
 {'Column Name': 'CF.fs.cur_addr_rep_trade_90_days',
  'Description': 'Fraud Indicator: Current address reported by trade open < 90 days, true or false'},
 {'Column Name': 'CF.fs.dl_format_invalid',
  'Description': 'Fraud Indicator: Driver license format invalid, true or false'},
 {'Column Name': 'CF.fs.dl_inconsistent_wof',
  'Description': 'Fraud Indicator: Driver license inconsistent with on-file, true or false'},
 {'Column Name': 'CF.fs.in_ssn_date_unverified',
  'Description': 'Fraud Indicator: Input SSN issue date cannot by verified, true or false'},
 {'Column Name': 'CF.fs.in_ssn_deceased',
  'Description': 'Fraud Indicator: Input SSN recorded as deceased, true or false'},
 {'Column Name': 'CF.fs.in_ssn_invalid',
  'Description': 'Fraud Indicator: Input SSN invalid, true or false'},
 {'Column Name': 'CF.fs.inq_addr_cautious',
  'Description': 'Fraud Indicator: Inquiry address: cautious, true or false'},
 {'Column Name': 'CF.fs.inq_addr_high_risk',
  'Description': 'Fraud Indicator: Inquiry address: high risk, true or false'},
 {'Column Name': 'CF.fs.inq_addr_non_residential',
  'Description': 'Fraud Indicator: Inquiry address: non-residential, true or false'},
 {'Column Name': 'CF.fs.inq_age_lt_ssn_date',
  'Description': 'Fraud Indicator: Inquiry age younger than SSN issue date, true or false'},
 {'Column Name': 'CF.fs.inq_current_addr_nof',
  'Description': 'Fraud Indicator: Inquiry current address not on-file, true or false'},
 {'Column Name': 'CF.fs.inq_gt_3_in_last_30_days',
  'Description': 'Fraud Indicator: More than 3 inquiries in the last 30 days, true or false'},
 {'Column Name': 'CF.fs.inq_onf_addr_conflict',
  'Description': 'Fraud Indicator: Inquiry / on-file current address conflict, true or false'},
 {'Column Name': 'CF.fs.max_num_ssn_ba',
  'Description': 'Fraud Indicator: Max Number of unique SSNs with any bank account'},
 {'Column Name': 'CF.fs.onf_addr_cautious',
  'Description': 'Fraud Indicator: On-file address: cautious, true or false'},
 {'Column Name': 'CF.fs.onf_addr_high_risk',
  'Description': 'Fraud Indicator: On-file address: high risk, true or false'},
 {'Column Name': 'CF.fs.onf_addr_non_residential',
  'Description': 'Fraud Indicator: On-file address: non-residential, true or false'},
 {'Column Name': 'CF.fs.phone_inconsistent_w_addr',
  'Description': 'Fraud Indicator: Telephone number inconsistent with address, true or false'},
 {'Column Name': 'CF.fs.phone_inconsistent_w_state',
  'Description': 'Fraud Indicator: Telephone number inconsistent with state, true or false'},
 {'Column Name': 'CF.fs.ssn_belongs_to_another',
  'Description': 'Fraud Indicator: High probability SSN belongs to another, true or false'},
 {'Column Name': 'CF.fs.ssn_frequent_for_another',
  'Description': 'Fraud Indicator: SSN reported more frequently for another, true or false'},
 {'Column Name': 'CF.fs.total_num_fraud_indicators',
  'Description': 'Fraud Indicator: Total Number of unique fraud indicators'},
 {'Column Name': 'CF.fs.work_num_prev_cell_num',
  'Description': 'Fraud Indicator: Work phone previously listed as cell phone for a consumer at Clarity'},
 {'Column Name': 'CF.fs.work_num_prev_home_num',
  'Description': 'Fraud Indicator: Work phone previously listed as home phone for a consumer at Clarity'},
 {'Column Name': 'CF.inquiry.1_hr_ago',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 1 hour'},
 {'Column Name': 'CF.inquiry.1_min_ago',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 1 minute'},
 {'Column Name': 'CF.inquiry.10_mins_ago',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 10 minutes'},
 {'Column Name': 'CF.inquiry.15_days_ago',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 15 days'},
 {'Column Name': 'CF.inquiry.24_hrs_ago',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 24 hours'},
 {'Column Name': 'CF.inquiry.30_days_ago',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 30 days'},
 {'Column Name': 'CF.inquiry.365_days_ago',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 365 days'},
 {'Column Name': 'CF.inquiry.7_days_ago',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 7 days'},
 {'Column Name': 'CF.inquiry.90_days_ago',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 90 days'},
 {'Column Name': 'CF.match.name_addr',
  'Description': 'Provides a high level indication of whether the name appears to belong with the address on the current application'},
 {'Column Name': 'CF.match.name_addr_reason_code',
  'Description': 'Provides more detail on the nature of the name_address match result'},
 {'Column Name': 'CF.match.name_addr_code_desc',
  'Description': 'Provides a description for the name_address_reason_code'},
 {'Column Name': 'CF.match.oa_reason_code',
  'Description': '125 possible values provide details to support overall match result'},
 {'Column Name': 'CF.match.oa_result',
  'Description': 'Provides a high level indication of whether key personal information from the current application appears to belong together'},
 {'Column Name': 'CF.match.ssn_dob_reason_code',
  'Description': 'Provides more detail on the nature of the ssn_dob match result'},
 {'Column Name': nan,
  'Description': 'Provides a description for the phone_match_type'},
 {'Column Name': 'CF.match.ssn_name',
  'Description': 'provides a high level indication of whether the SSN appears to belong with the name on the current application'},
 {'Column Name': 'CF.match.ssn_name_reason_code',
  'Description': 'Provides more detail on the nature of the ssn_name match result'},
 {'Column Name': 'CF.match.ssn_name_code_desc',
  'Description': 'Provides a description for the ssn_name_reason_code'},
 {'Column Name': 'CF.match.phone_match_result',
  'Description': 'Provides a high level indication of whether the Phone Number appears to belong with the name and/or address on the current application'},
 {'Column Name': 'CF.match.phone_match_type',
  'Description': 'Provides more detail on the nature of the phone match result'},
 {'Column Name': 'CF.match.phone_type',
  'Description': 'Indicates whether the phone is residential, business, or mixed use'},
 {'Column Name': nan,
  'Description': 'Provides a high level indication of whether the Social Security Number appears to belong with the date of birth on the current application'},
 {'Column Name': nan,
  'Description': 'fraud score provided by clarity. Higher score suggests lower default probability'},
 {'Column Name': nan,
  'Description': 'UnderwritingId - corresponds to "clarityFraudId" in the loan file - use for joining'},
 {'Column Name': nan, 'Description': nan}]

In [63]:
df[["loanStatus"]].value_counts(dropna=False)

loanStatus
Withdrawn Application          450984
Rejected                        85070
Paid Off Loan                   11427
External Collection             11334
New Loan                         8112
Internal Collection              5567
Returned Item                    1182
CSR Voided New Loan              1026
Settlement Paid Off               708
Credit Return Void                704
Customer Voided New Loan          504
NaN                               391
Settled Bankruptcy                326
Pending Paid Off                  169
Charged Off Paid Off              160
Pending Application Fee             5
Pending Rescind                     4
Pending Application                 4
Voided New Loan                     2
Charged Off                         1
Customver Voided New Loan           1
Settlement Pending Paid Off         1
Name: count, dtype: int64

In [62]:
df.columns

Index(['loanId', 'anon_ssn', 'payFrequency', 'apr', 'applicationDate',
       'originated', 'originatedDate', 'nPaidOff', 'approved', 'isFunded',
       'loanStatus', 'loanAmount', 'originallyScheduledPaymentAmount', 'state',
       'leadType', 'leadCost', 'fpStatus', 'clarityFraudId', 'hasCF'],
      dtype='object')

In [64]:
import pandas as pd
df = pd.read_csv("../data/loan.csv")

In [66]:
df.shape

(577682, 19)

In [71]:
df[["applicationDate", "anon_ssn"]].head()

              applicationDate                          anon_ssn
0  2016-02-23T17:29:01.940000  beff4989be82aab4a5b47679216942fd
1  2016-01-19T22:07:36.778000  464f5d9ae4fa09ece4048d949191865c
2  2016-08-01T13:51:14.709000  3c174ae9e2505a5f9ddbff9843281845
3  2015-08-06T23:58:08.880000  9be6f443bb97db7e95fa0c281d34da91
4  2016-06-05T22:31:34.304000  63b5494f60b5c19c827c7b068443752c

In [72]:
# Count duplicates in the 'anon_ssn' column
duplicate_counts = df['anon_ssn'].value_counts()

# Filter to show only duplicates (count > 1)
duplicates = duplicate_counts[duplicate_counts > 1]

# print(f"duplicates count: {duplicates.shape}")
duplicates.shape

(81119,)

In [73]:
non_df = df.drop_duplicates(subset=["anon_ssn"])
non_df.shape

(459393, 19)

In [74]:
df[["payFrequency"]].value_counts(dropna=False)

payFrequency
B               316654
W               137188
M                59092
I                33787
S                29688
NaN               1273
Name: count, dtype: int64

In [78]:
df[df["apr"].isna()].shape

(3922, 19)

In [81]:
df[["apr"]].head(5)

     apr
0  360.0
1  199.0
2  590.0
3  360.0
4  590.0

In [104]:
def calculate_apr(row):
    loan_amount = row['loanAmount']
    scheduled_payment = row['originallyScheduledPaymentAmount']
    n_paid_off = row['nPaidOff']
    
    # Check for zero values to prevent division by zero
    if loan_amount <= 0 or n_paid_off <= 0:
        return None  # Return None or some default value if inputs are invalid
    
    # Total payments made
    total_payments = scheduled_payment * n_paid_off
    # print(f"total_payments: {total_payments}")
    
    # Estimate total interest paid
    total_interest = total_payments - loan_amount
    
    # print(f"total_interest: {total_interest}")
    # Calculate APR
    apr = (total_interest / loan_amount) / (n_paid_off / 12) * 100  # Annualize the APR
    return apr

# Apply the APR calculation to rows where APR is not already provided
df['calculated_apr'] = df.apply(lambda row: calculate_apr(row), axis=1)

In [102]:
response =calculate_apr({'loanAmount': 350.0, "originallyScheduledPaymentAmount": 893.88, "nPaidOff" :2.0})
print(response)

2464.7314285714288

In [107]:
def calculate_apr(loan_data):
    """Calculates the APR based on loan data.

    Args:
        loan_data: A pandas DataFrame containing loan data.

    Returns:
        A pandas Series containing the calculated APR for each loan.
    """

    # Determine the frequency based on payFrequency
    frequency_map = {'B': 26, 'I': 1, 'M': 12, 'S': 24, 'W': 52}
    loan_data['frequency'] = loan_data['payFrequency'].map(frequency_map)

    # Assuming you have a column 'numberOfPayments' or can calculate it based on other data
    # For example, if the loan term is in months, you can calculate it as:
    # loan_data['numberOfPayments'] = loan_data['loanTermInMonths']

    # Calculate the APR
    loan_data['apr'] = ((loan_data['originallyScheduledPaymentAmount'] / loan_data['loanAmount']) ** (1 / (loan_data['numberOfPayments'] * loan_data['frequency'])) - 1) * loan_data['frequency'] * 100

    return loan_data['apr']

df['calculated_apr'] = calculate_apr(df)

KeyError: 'numberOfPayments'

In [106]:
df[df["nPaidOff"] > 0][["calculated_apr", "apr", "nPaidOff", "originallyScheduledPaymentAmount", "loanAmount"]].head()

,calculated_apr,apr,nPaidOff,originallyScheduledPaymentAmount,loanAmount
15,2464.731429,475.0,2.0,893.88,350.0
47,2581.228800,490.0,2.0,3313.78,1250.0
64,1290.560000,404.1,3.0,422.64,300.0
83,1700.216000,315.0,2.0,2875.27,1500.0
236,2081.608000,490.0,1.0,4102.01,1500.0

In [108]:
df[["applicationDate", "originated", "originatedDate"]]

                   applicationDate  originated              originatedDate
0       2016-02-23T17:29:01.940000       False                         NaN
1       2016-01-19T22:07:36.778000        True  2016-01-20T15:49:18.846000
2       2016-08-01T13:51:14.709000       False                         NaN
3       2015-08-06T23:58:08.880000       False                         NaN
4       2016-06-05T22:31:34.304000       False                         NaN
...                            ...         ...                         ...
577677  2016-11-08T17:32:33.554000       False                         NaN
577678  2017-01-24T22:20:59.818000       False                         NaN
577679  2016-02-02T03:05:47.797000       False                         NaN
577680  2015-05-21T20:19:49.639000       False                         NaN
577681  2015-11-17T22:04:20.862000       False                         NaN

[577682 rows x 3 columns]

In [118]:
df[df["originated"] == True].shape

(46006, 21)

In [124]:
filtered_df = df[(df["originated"] == True) & (df["approved"] == True)]
filtered_df.shape

(40034, 21)

In [126]:
df[df["approved"] is True].shape

(40036, 21)

In [128]:
df[df["isFunded"] == True].shape

(38982, 21)

In [130]:
df[["state"]].value_counts(dropna=False)

state
OH         90496
IL         66710
TX         49729
MO         49249
WI         40349
MI         34635
TN         32991
NC         26962
FL         25896
IN         25781
SC         23925
CA         22691
NV         11477
PA          9723
VA          9197
NJ          7641
UT          6742
AL          4327
MS          3786
CO          3615
LA          3431
AZ          3355
NM          3231
KY          2911
SD          2212
MN          2078
GA          1763
OK          1758
WY          1715
CT          1468
WA          1384
KS          1227
IA          1043
DE           880
ID           722
RI           689
NE           635
HI           621
AK           290
ND           207
NaN          132
NY             3
MD             3
TX-TEST        1
OH-TEST        1
Name: count, dtype: int64

In [122]:
df[["approved"]].head()

   approved
0     False
1      True
2     False
3     False
4     False

In [132]:
df[["leadType"]].value_counts(dropna=False)

leadType
bvMandatory      475001
lead              72673
organic           22851
prescreen          4515
rc_returning       2069
california          479
lionpay              26
repeat               24
express              22
instant-offer        22
Name: count, dtype: int64

In [139]:
df[df["leadCost"] == 0][["leadType"]].value_counts(dropna=False)

leadType
organic          21975
prescreen         4515
rc_returning      2069
lionpay             26
repeat              24
express             22
instant-offer       22
lead                16
Name: count, dtype: int64

In [140]:
df[["fpStatus"]].value_counts(dropna=False)

fpStatus
NaN            525959
Checked         32978
No Payments     11427
Rejected         5522
No Schedule      1323
Cancelled         249
Skipped           218
Pending             5
Returned            1
Name: count, dtype: int64

In [141]:
df[["hasCF"]].value_counts(dropna=False)

hasCF
1        357693
0        219989
Name: count, dtype: int64

In [65]:
df.columns

Index(['loanId', 'anon_ssn', 'payFrequency', 'apr', 'applicationDate',
       'originated', 'originatedDate', 'nPaidOff', 'approved', 'isFunded',
       'loanStatus', 'loanAmount', 'originallyScheduledPaymentAmount', 'state',
       'leadType', 'leadCost', 'fpStatus', 'clarityFraudId', 'hasCF'],
      dtype='object')

In [142]:
payment_df = pd.read_csv('../data/payment.csv')

In [145]:
payment_df.drop_duplicates(subset=["loanId"]).shape

(39952, 9)

In [153]:
payment_df[["isCollection"]].value_counts(dropna=False)

isCollection
False           675469
True             13895
Name: count, dtype: int64

In [156]:
payment_df[payment_df["isCollection"] == True][["installmentIndex", "isCollection", "loanId"]]

        installmentIndex  isCollection         loanId
12                     1          True  LL-I-00000021
284                    1          True  LL-I-00002861
330                    1          True  LL-I-00003378
748                    1          True  LL-I-00006708
749                    2          True  LL-I-00006708
...                  ...           ...            ...
646706                 6          True  LL-I-17805480
646707                 7          True  LL-I-17805480
646708                 8          True  LL-I-17805480
646709                 9          True  LL-I-17805480
646710                10          True  LL-I-17805480

[13895 rows x 3 columns]

In [152]:
payment_df[["installmentIndex"]].value_counts(dropna=False)

installmentIndex
1                   42386
2                   41640
3                   41414
4                   41247
5                   41115
                    ...
100                    12
99                     12
98                     12
96                     12
105                     4
Name: count, Length: 105, dtype: int64

In [165]:
payment_df[["principal", "fees", "paymentAmount"]].head(20)

    principal    fees  paymentAmount
0       22.33  147.28         169.61
1       26.44  143.17         169.61
2       31.30  138.31         169.61
3       37.07  132.54         169.61
4       43.89  125.72         169.61
5       51.97  117.64         169.61
6       61.54  108.07         169.61
7       72.87   96.74         169.61
8       86.29   83.32         169.61
9      102.17   67.44         169.61
10     120.98   48.63         169.61
11     143.15   26.35         169.50
12       0.01    0.00           0.01
13       0.00   84.16          84.16
14      27.20  147.28         174.48
15      32.20  142.28         174.48
16      38.13  136.35         174.48
17      45.15  129.33         174.48
18      45.15  129.33         174.48
19      53.47  121.01         174.48

In [166]:
payment_df[["paymentStatus"]].value_counts(dropna=False)

paymentStatus
Cancelled                  270334
Checked                    209621
NaN                        164057
Rejected                    32330
Pending                      9241
Skipped                      3761
Rejected Awaiting Retry        18
Complete                        1
Returned                        1
Name: count, dtype: int64

In [167]:
payment_df[["paymentReturnCode"]].value_counts(dropna=False)

paymentReturnCode
NaN                  657831
R01                   22866
R02                    2761
R08                    2259
R16                    1085
R10                     620
MISSED                  537
R03                     318
RXS                     226
R09                     176
R07                     160
C05                     106
C01                      87
R20                      83
R99                      60
RAF                      58
R04                      39
C03                      34
C02                      10
LPP01                     7
RWC                       7
RUP                       6
R06                       6
RBW                       5
R29                       4
RFG                       3
R15                       3
C07                       2
R13                       2
RIR                       1
R19                       1
RXL                       1
Name: count, dtype: int64

In [144]:
payment_df.columns

Index(['loanId', 'installmentIndex', 'isCollection', 'paymentDate',
       'principal', 'fees', 'paymentAmount', 'paymentStatus',
       'paymentReturnCode'],
      dtype='object')

In [168]:
clarity_df = pd.read_csv('../data/clarity_underwriting_variables.csv')

/tmp/ipykernel_32894/597260991.py:1: DtypeWarning: Columns (9,11,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,31,32,33,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  clarity_df = pd.read_csv('../data/clarity_underwriting_variables.csv')

In [169]:
clarity_df.shape

(49752, 54)

In [170]:
clarity_df.columns

Index(['.underwritingdataclarity.clearfraud.clearfraudinquiry.thirtydaysago',
       '.underwritingdataclarity.clearfraud.clearfraudinquiry.twentyfourhoursago',
       '.underwritingdataclarity.clearfraud.clearfraudinquiry.oneminuteago',
       '.underwritingdataclarity.clearfraud.clearfraudinquiry.onehourago',
       '.underwritingdataclarity.clearfraud.clearfraudinquiry.ninetydaysago',
       '.underwritingdataclarity.clearfraud.clearfraudinquiry.sevendaysago',
       '.underwritingdataclarity.clearfraud.clearfraudinquiry.tenminutesago',
       '.underwritingdataclarity.clearfraud.clearfraudinquiry.fifteendaysago',
       '.underwritingdataclarity.clearfraud.clearfraudinquiry.threesixtyfivedaysago',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.inquiryonfilecurrentaddressconflict',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.totalnumberoffraudindicators',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.telephonenumberinconsistentwithaddress',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.inquiryageyoungerthanssnissuedate',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.onfileaddresscautious',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.inquiryaddressnonresidential',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.onfileaddresshighrisk',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.ssnreportedmorefrequentlyforanother',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.currentaddressreportedbytradeopenlt90days',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.inputssninvalid',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.inputssnissuedatecannotbeverified',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.inquiryaddresscautious',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.morethan3inquiriesinthelast30days',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.onfileaddressnonresidential',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.creditestablishedpriortossnissuedate',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.driverlicenseformatinvalid',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.inputssnrecordedasdeceased',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.inquiryaddresshighrisk',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.inquirycurrentaddressnotonfile',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.bestonfilessnissuedatecannotbeverified',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.highprobabilityssnbelongstoanother',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.maxnumberofssnswithanybankaccount',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.bestonfilessnrecordedasdeceased',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.currentaddressreportedbynewtradeonly',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.creditestablishedbeforeage18',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.telephonenumberinconsistentwithstate',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.driverlicenseinconsistentwithonfile',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.workphonepreviouslylistedascellphone',
       '.underwritingdataclarity.clearfraud.clearfraudindicator.workphonepreviouslylistedashomephone',
       '.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssnnamematch',
       '.underwritingdataclarity.clearfraud.clearfraudidentityverification.nameaddressmatch',
       '.underwritingdataclarity.clearfraud.clearfraudidentityverification.phonematchtype',
       '.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssnnamereasoncodedescription',
       '.underwritingdataclarity.clearfraud.clearfraudidentityverification.phonematchresult',
       '.underwritingdataclarity.clearfraud.clearfraudidentityverification.nameaddressreasoncodedescription',
       '.underwritingdataclarity.clearfraud.clearfraudidentityverification.phonematchtypedescription',
       '.underwritingdataclarity.clearfraud.clearfraudidentityverification.overallmatchresult',
       '.underwritingdataclarity.clearfraud.clearfraudidentityverification.phonetype',
       '.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssndobreasoncode',
       '.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssnnamereasoncode',
       '.underwritingdataclarity.clearfraud.clearfraudidentityverification.nameaddressreasoncode',
       '.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssndobmatch',
       '.underwritingdataclarity.clearfraud.clearfraudidentityverification.overallmatchreasoncode',
       'clearfraudscore', 'underwritingid'],
      dtype='object')

In [171]:
clarity_dict = pd.read_csv('../dictionaries/clarity_underwriting_dictionary.csv')

In [172]:
clarity_dict.shape

(55, 11)

In [173]:
clarity_dict.columns

Index(['fieldName_in_file', 'Column Name', ' Type', ' Length', 'Min', 'Max',
       'Retroable', 'Description', 'XML Field Name', 'Notes', 'Unnamed: 10'],
      dtype='object')

In [186]:
clarity_df[[".underwritingdataclarity.clearfraud.clearfraudindicator.totalnumberoffraudindicators"]].value_counts(dropna=False)

.underwritingdataclarity.clearfraud.clearfraudindicator.totalnumberoffraudindicators
1.0                                                                                     17217
2.0                                                                                     14347
3.0                                                                                      9292
4.0                                                                                      4815
0.0                                                                                      1747
5.0                                                                                      1731
6.0                                                                                       466
7.0                                                                                       103
8.0                                                                                        17
NaN                                                                                        17
Name: count, dtype: int64

In [179]:
clarity_dict[["fieldName_in_file", "Column Name", " Type", "Description"]].to_dict(orient='records')

[{'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.bestonfilessnissuedatecannotbeverified',
  'Column Name': 'CF.fs.bof_ssn_date_unverified',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Best on file SSN issued date cannot be verified, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.bestonfilessnrecordedasdeceased',
  'Column Name': 'CF.fs.bof_ssn_deceased',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Best on file SSN recorded as deceased, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.creditestablishedbeforeage18',
  'Column Name': 'CF.fs.credit_prior_age_18',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Credit established before age 18, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.creditestablishedpriortossnissuedate',
  'Column Name': 'CF.fs.credit_prior_ssn_date',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Credit established prior to SSN issue date, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.currentaddressreportedbynewtradeonly',
  'Column Name': 'CF.fs.cur_addr_rep_newtrade_only',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Current address reported by new trade only, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.currentaddressreportedbytradeopenlt90days',
  'Column Name': 'CF.fs.cur_addr_rep_trade_90_days',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Current address reported by trade open < 90 days, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.driverlicenseformatinvalid',
  'Column Name': 'CF.fs.dl_format_invalid',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Driver license format invalid, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.driverlicenseinconsistentwithonfile',
  'Column Name': 'CF.fs.dl_inconsistent_wof',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Driver license inconsistent with on-file, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.inputssnissuedatecannotbeverified',
  'Column Name': 'CF.fs.in_ssn_date_unverified',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Input SSN issue date cannot by verified, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.inputssnrecordedasdeceased',
  'Column Name': 'CF.fs.in_ssn_deceased',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Input SSN recorded as deceased, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.inputssninvalid',
  'Column Name': 'CF.fs.in_ssn_invalid',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Input SSN invalid, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.inquiryaddresscautious',
  'Column Name': 'CF.fs.inq_addr_cautious',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Inquiry address: cautious, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.inquiryaddresshighrisk',
  'Column Name': 'CF.fs.inq_addr_high_risk',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Inquiry address: high risk, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.inquiryaddressnonresidential',
  'Column Name': 'CF.fs.inq_addr_non_residential',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Inquiry address: non-residential, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.inquiryageyoungerthanssnissuedate',
  'Column Name': 'CF.fs.inq_age_lt_ssn_date',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Inquiry age younger than SSN issue date, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.inquirycurrentaddressnotonfile',
  'Column Name': 'CF.fs.inq_current_addr_nof',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Inquiry current address not on-file, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.morethan3inquiriesinthelast30days',
  'Column Name': 'CF.fs.inq_gt_3_in_last_30_days',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: More than 3 inquiries in the last 30 days, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.inquiryonfilecurrentaddressconflict',
  'Column Name': 'CF.fs.inq_onf_addr_conflict',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Inquiry / on-file current address conflict, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.maxnumberofssnswithanybankaccount',
  'Column Name': 'CF.fs.max_num_ssn_ba',
  ' Type': 'Number',
  'Description': 'Fraud Indicator: Max Number of unique SSNs with any bank account'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.onfileaddresscautious',
  'Column Name': 'CF.fs.onf_addr_cautious',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: On-file address: cautious, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.onfileaddresshighrisk',
  'Column Name': 'CF.fs.onf_addr_high_risk',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: On-file address: high risk, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.onfileaddressnonresidential',
  'Column Name': 'CF.fs.onf_addr_non_residential',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: On-file address: non-residential, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.telephonenumberinconsistentwithaddress',
  'Column Name': 'CF.fs.phone_inconsistent_w_addr',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Telephone number inconsistent with address, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.telephonenumberinconsistentwithstate',
  'Column Name': 'CF.fs.phone_inconsistent_w_state',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Telephone number inconsistent with state, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.highprobabilityssnbelongstoanother',
  'Column Name': 'CF.fs.ssn_belongs_to_another',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: High probability SSN belongs to another, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.ssnreportedmorefrequentlyforanother',
  'Column Name': 'CF.fs.ssn_frequent_for_another',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: SSN reported more frequently for another, true or false'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.totalnumberoffraudindicators',
  'Column Name': 'CF.fs.total_num_fraud_indicators',
  ' Type': 'Number',
  'Description': 'Fraud Indicator: Total Number of unique fraud indicators'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.workphonepreviouslylistedashomephone',
  'Column Name': 'CF.fs.work_num_prev_cell_num',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Work phone previously listed as cell phone for a consumer at Clarity'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudindicator.workphonepreviouslylistedascellphone',
  'Column Name': 'CF.fs.work_num_prev_home_num',
  ' Type': 'Text',
  'Description': 'Fraud Indicator: Work phone previously listed as home phone for a consumer at Clarity'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudinquiry.onehourago',
  'Column Name': 'CF.inquiry.1_hr_ago',
  ' Type': 'Number',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 1 hour'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudinquiry.oneminuteago',
  'Column Name': 'CF.inquiry.1_min_ago',
  ' Type': 'Number',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 1 minute'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudinquiry.tenminutesago',
  'Column Name': 'CF.inquiry.10_mins_ago',
  ' Type': 'Number',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 10 minutes'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudinquiry.fifteendaysago',
  'Column Name': 'CF.inquiry.15_days_ago',
  ' Type': 'Number',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 15 days'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudinquiry.twentyfourhoursago',
  'Column Name': 'CF.inquiry.24_hrs_ago',
  ' Type': 'Number',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 24 hours'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudinquiry.thirtydaysago',
  'Column Name': 'CF.inquiry.30_days_ago',
  ' Type': 'Number',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 30 days'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudinquiry.threesixtyfivedaysago',
  'Column Name': 'CF.inquiry.365_days_ago',
  ' Type': 'Number',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 365 days'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudinquiry.sevendaysago',
  'Column Name': 'CF.inquiry.7_days_ago',
  ' Type': 'Number',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 7 days'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudinquiry.ninetydaysago',
  'Column Name': 'CF.inquiry.90_days_ago',
  ' Type': 'Number',
  'Description': 'Number of unique inquiries for the consumer seen by Clarity in the last 90 days'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudidentityverification.nameaddressmatch',
  'Column Name': 'CF.match.name_addr',
  ' Type': 'Text',
  'Description': 'Provides a high level indication of whether the name appears to belong with the address on the current application'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudidentityverification.nameaddressreasoncode',
  'Column Name': 'CF.match.name_addr_reason_code',
  ' Type': 'Text',
  'Description': 'Provides more detail on the nature of the name_address match result'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudidentityverification.nameaddressreasoncodedescription',
  'Column Name': 'CF.match.name_addr_code_desc',
  ' Type': 'Text',
  'Description': 'Provides a description for the name_address_reason_code'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudidentityverification.overallmatchreasoncode',
  'Column Name': 'CF.match.oa_reason_code',
  ' Type': 'Text',
  'Description': '125 possible values provide details to support overall match result'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudidentityverification.overallmatchresult',
  'Column Name': 'CF.match.oa_result',
  ' Type': 'Text',
  'Description': 'Provides a high level indication of whether key personal information from the current application appears to belong together'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssndobreasoncode',
  'Column Name': 'CF.match.ssn_dob_reason_code',
  ' Type': 'Text',
  'Description': 'Provides more detail on the nature of the ssn_dob match result'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudidentityverification.phonematchtypedescription',
  'Column Name': nan,
  ' Type': nan,
  'Description': 'Provides a description for the phone_match_type'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssnnamematch',
  'Column Name': 'CF.match.ssn_name',
  ' Type': 'Text',
  'Description': 'provides a high level indication of whether the SSN appears to belong with the name on the current application'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssnnamereasoncode',
  'Column Name': 'CF.match.ssn_name_reason_code',
  ' Type': 'Text',
  'Description': 'Provides more detail on the nature of the ssn_name match result'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssnnamereasoncodedescription',
  'Column Name': 'CF.match.ssn_name_code_desc',
  ' Type': 'Text',
  'Description': 'Provides a description for the ssn_name_reason_code'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudidentityverification.phonematchresult',
  'Column Name': 'CF.match.phone_match_result',
  ' Type': 'Text',
  'Description': 'Provides a high level indication of whether the Phone Number appears to belong with the name and/or address on the current application'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudidentityverification.phonematchtype',
  'Column Name': 'CF.match.phone_match_type',
  ' Type': 'Text',
  'Description': 'Provides more detail on the nature of the phone match result'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudidentityverification.phonetype',
  'Column Name': 'CF.match.phone_type',
  ' Type': 'Text',
  'Description': 'Indicates whether the phone is residential, business, or mixed use'},
 {'fieldName_in_file': '.underwritingdataclarity.clearfraud.clearfraudidentityverification.ssndobmatch',
  'Column Name': nan,
  ' Type': 'Text',
  'Description': 'Provides a high level indication of whether the Social Security Number appears to belong with the date of birth on the current application'},
 {'fieldName_in_file': 'clearFraudScore',
  'Column Name': nan,
  ' Type': 'Number',
  'Description': 'fraud score provided by clarity. Higher score suggests lower default probability'},
 {'fieldName_in_file': 'underwritingid',
  'Column Name': nan,
  ' Type': 'Text',
  'Description': 'UnderwritingId - corresponds to "clarityFraudId" in the loan file - use for joining'},
 {'fieldName_in_file': nan,
  'Column Name': nan,
  ' Type': nan,
  'Description': nan}]